<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soumission</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Soumission réussie!');
                        
                    } else {
                        alert('Erreur lors de la soumission.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</head>
<body>
    
    <h2>Soumission</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'soumission' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>